<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2 class="display-5">Merge PDF files online - it's easy and free*</h2>
            <form action="/merge" method="POST" enctype="multipart/form-data">
            <input type="file" name="file1"><br/>
            <input type="file" name="file2"><br/>
            <input type="file" name="file3"><br/>
            <input type="file" name="file4"><br/><br/>
            <input type="submit" value="Download Merged &raquo;" class="btn btn-primary">
        </form>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Upload</h2>
      <p>Upload your files: Use the “choose file” buttons above to upload your PDF files and then press the "merge" button to download your PDF.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Merge</h2>
      <p>Select multiple PDF files in your desired order and click on “more files” to combine upto 4 files into one single document.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Free*</h2>
      <p>*Combining PDFs takes a toll on our servers. Upgrade to a pro account for unlimited PDF merges.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

</div> <!-- /container -->